html, body {
  padding: 0px;
  margin: 0px;
}

textarea {
	width: 33.33%;
	height: 100%;

	padding: 10px;

	border: none;
	color: #111111;
	font-size: 13px;
	resize: none;
  
  display: inline-block;
}

#input {
	background-color: #7FDBFF;
}

#output {
	background-color: #39CCCC;
	text-transform: uppercase;
}

#generate {
	background-color: #7FDBFF;
	text-transform: capitalize;
}